# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/

# IDE
.idea/
*.iml

# iOS generated
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig

# Generated plugin registrants
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
linux/flutter/generated_plugin_registrant.*
linux/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift